<div class="columns">
  <div class="column is-three-fifths is-offset-one-fifth">

    <%= render partial: 'messages' %>

    <section class="section">
      <div class="container">
        <h1 class="title">User Details</h1>
        <div class="box">
          <p>
            <strong>First name:</strong>
            <%= @user.first_name %>
          </p>

          <p>
            <strong>Last name:</strong>
            <%= @user.last_name %>
          </p>

        </div>


        <section>
          <button class="button is-light">
            <%= link_to 'Edit', edit_user_path(@user) %>
          </button>
          <button class="button is-light">
            <%= link_to 'Back', users_path %>
          </button>
        </section>
      </div>
    </section>
  </div>
</div>
